1. Write a Python program to sum all the items in a list.

In [ ]:
l=[1,5,8,10,3,4]

sum=0
for i in l:
  sum+=i
print(sum)

31

2. Write a Python program to get the largest number from a list.

In [ ]:
list=[1,5,7,14,3,6]
list.sort()
list[-1]

14

3. Write a Python program to count the number of strings from a given list of strings. The string length is 2 or more and the first and last characters are the same.

```
Sample List : ['abc', 'xyz', 'aba', '1221']
Expected Result : 2
```

In [ ]:
l=['abc', 'xyz', 'aba', '1221']
x=[]
for i in l:
 if len(i)>2 and i[0]==i[-1]:
  x.append(i)
print(len(x))

2

4. Write a Python program to remove duplicates from a list.

In [ ]:
l=["car","bike","4","car","5","lorry","4","bike"]
l2=[]
for x in l:
  if x not in l2:
    l2.append(x)
print(l2)

['car', 'bike', '4', '5', 'lorry']

5. Write a Python program to check if a list is empty or not.

In [ ]:
mylist=[2,5,8,4]
if len(mylist)==0:
  print("list is empty")
else:
  print("list is not empty")

mylist is not empty

6. Write a Python program to filter the list if the length of the character is < 4

```
Sample List : ['abc', 'xyz', 'aba', '1221']
Expected Result: ['abc', 'xyz', 'aba']
```

In [ ]:
mylist=['abc', 'xyz', 'aba', '1221']
result=[]
for i in mylist:
  if len(i)<4:
    result.append(i)
print(result)

['abc', 'xyz', 'aba']

7.Write a Python program to find the second largest number in a list.

In [ ]:
mylist=[1,6,4,8,18,22,3]
mylist.sort()
print(mylist[-2])

18

8. Write a Python program to reverse a list at a specific location.

In [ ]:
mylist=[1,6,4,8,18,22,3]
loc =4
list1=mylist[0:loc-1]
list2=mylist[loc-1:]
list2.reverse()
print(list1+list2)

[1, 6, 4, 3, 22, 18, 8]

9. Write a Python program to check if a list is a palindrome or not. Return true otherwise false.

In [ ]:
list1=[1,6,5,4,5,6,1]
list2=list1.copy()
list1.reverse()
if list1==list2:
  print("true")
else:
  print("false")

true

10. Write a Python a program to find the union and intersection of two lists.

In [ ]:
l1= [1,2,3,4,9,10]
l2= [2,4,6,8,]
set1=set(l1)
set2=set(l2)

un_set = set1.union(set2)
int_set = set1.intersection(set2)

print("Union list:",list[un_set])
print("Intersection list:",list[int_set])

Union list: list[{1, 2, 3, 4, 6, 8, 9, 10}]
Intersection list: list[{2, 4}]

11.Write a Python script to sort (ascending and descending) a dictionary by value

In [ ]:
mydict={2:"pen",3:"pencil",5:"book",1:"bag"}
sorted(mydict.values())

['bag', 'book', 'pen', 'pencil']

12. Write a Python script to check whether a given key already exists in a dictionary.

In [ ]:
my_dict = {'name' : 'akshith', 'age' : 21, 'place' : 'kerala'}
if 'name' in my_dict:
  print('already exist')
else:
  print('not exist')

already exist

13.Write a Python program to sum all the values in a dictionary.

In [ ]:
dict={'a':4,'b':2,'c':7,'d':1}
values=dict.values()
sum=0
for i in values:
  sum+=i
print(sum)

14

14.Write a Python program to create a dictionary with a number and its corresponding square from 1 to input number. And also check if the input number is less than 10

```
Eg:
Input : 3
Output : {1:1, 2:4, 3:9}
```

In [ ]:
num = int(input('Enter a value:'))
my_dict = { i:i **2 for i in range(1, num + 1)}
print(my_dict)

Enter a value:3
{1: 1, 2: 4, 3: 9}

15.Write a Python program to sort a given dictionary by key.

In [ ]:
my_dict = {"banana": 5,"apple":2,"orange":8,"grapes":3,"jackfruit":5}
sorted_dic={}
sorted_key=sorted(my_dict.keys())
for i in sorted_key:
    sorted_dic[i]=my_dict[i]

print(sorted_dic)

{'apple': 2, 'banana': 5, 'grapes': 3, 'jackfruit': 5, 'orange': 8}

16.  Write a Python program to create a dictionary from a string.

```
Note: Track the count of the letters from the string.
Sample string : 'learnpython'
Expected output: {'l': 1, 'e': 1, 'a': 1, 'r': 1, 'n': 2, 'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1}

```

In [ ]:
string = "hello"
my_dict = {}
for letter in string:
  my_dict[letter] = my_dict.get(letter, 0) + 1

print(my_dict)

{'h': 1, 'e': 1, 'l': 2, 'o': 1}

17. Write a Python program to get the top three items in a shop.

```
Sample data: {'item1': 45.50, 'item2':35, 'item3': 41.30, 'item4':55, 'item5': 24}

Expected Output:
item4 55
item1 45.5
item3 41.3
```

In [ ]:
data={'item1': 45.50, 'item2':35, 'item3': 41.30, 'item4':55, 'item5': 24}
values=data.values()
values=list(values)
values.sort()
a=values[-3:]
a.reverse()
for k,v in data.items():
  if v in a:
    print(k,v)

item1 45.5
item3 41.3
item4 55